<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>custom-cropper test</title>

        <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="../../material.min.css">
    <link rel="stylesheet" href="../../components/demos.css">
    <script src="../../material.min.js"></script>

    
    <style>
      
    </style>

  </head>
  <body>

    <div style="padding-top: 24px;">
      
        

<div class="custom-cropper custom-js-cropper">

  <!-- display current image -->
  <div class="custom-cropper-current-img">
    <img src="avatar-1.png" />
  </div>

  <!-- input with the resulting values -->
  <input class="custom-cropper-b64-result" type="hidden" name="the name you need" />
  <input class="custom-cropper-data-result" type="hidden" name="the name you need" />

  <!-- textfield to click to choose image -->
  <div class="mdl-textfield mdl-js-textfield custom-inputfile custom-js-inputfile
              is-invalid mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text"
        id="inputfile2" value="" readonly="readonly" />

    <label>
      <div class="mdl-button mdl-button--icon">
        <i class="material-icons">attach_file</i>
        <i class="material-icons custom-clearbutton">clear</i>
      </div>
      <input type="file" />
    </label>

    <label class="mdl-textfield__label" for="inputfile2">Choose a file</label>
    <span class="mdl-textfield__error">beep boop</span>
  </div>

  <!-- dialog to dispaly the cropper -->
  <div class="custom-cropper-dialog custom-js-dialog custom-dialog">
    <div class="custom-dialog-bg mdl-color--grey"></div>
    <div class="custom-dialog-container mdl-dialog mdl-color--white">
      <h4 class="mdl-dialog__title">Title of the dialog</h4>
      <div class="mdl-dialog__content">
        <div class="custom-cropper-component-container">
          <img src="" class="custom-cropper-dialog-img" />
        </div>
        <div class="custom-cropper-preview">
          <img />
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button custom-dialog-confirm">OK</button>
        <button type="button" class="mdl-button custom-dialog-cancel">CANCEL</button>
      </div>
      <button type="button" class="mdl-button custom-dialog-close">
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>

</div>

      
    </div>
    <!-- Built with love using Material Design Lite -->

    
    <script>
      
    </script>
  </body>
</html>
