<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>custom-dup test</title>

        <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="../../material.min.css">
    <link rel="stylesheet" href="../../components/demos.css">
    <script src="../../material.min.js"></script>

    
    <style>
      
    </style>

  </head>
  <body>

    <div style="padding-top: 24px;">
      
        
<div class="custom-dup custom-js-dup">

  <div class="custom-dup-template">

      <div class="custom-dup-item">
        <div class="custom-dup-component">

          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Text...</label>
          </div>

        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised custom-dup-bt-remove">
          Remove
        </button>
      </div>

  </div>

  <div class="custom-dup-container">

    <div class="custom-dup-item">
      <div class="custom-dup-component">

        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div>

      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised custom-dup-bt-remove">
        Remove
      </button>
    </div>

    <div class="custom-dup-item">
      <div class="custom-dup-component">

        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample2">
          <label class="mdl-textfield__label" for="sample2">Text...</label>
        </div>

      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised custom-dup-bt-remove">
        Remove
      </button>
    </div>

  </div>

  <button class="mdl-button mdl-js-button mdl-button--raised custom-dup-bt-add">
    Add
  </button>

</div>

      
    </div>
    <!-- Built with love using Material Design Lite -->

    
    <script>
      
    </script>
  </body>
</html>
