<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>custom-chipautocomplete test</title>

        <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="../../material.min.css">
    <link rel="stylesheet" href="../../components/demos.css">
    <script src="../../material.min.js"></script>

    
    <style>
      
    </style>

  </head>
  <body>

    <div style="padding-top: 24px;">
      
        

<div class="custom-chipautocomplete custom-js-chipautocomplete"
  url-completer="static-results.json?input=myinput"
  url-completer-args='{"limit": 30}'
  url-placeholder="myinput"
  url-creator="static-create.json"
  url-creator-args='{"extra": "arg"}'
  txt-remote-unreachable="Server gone south, baaaadddd!"
  chip-name="inputname"
  >
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input"id="chipautocomplete1" autocomplete="off" type="text">
    <label class="mdl-textfield__label" for="chipautocomplete1">chip autocomplete</label>
    <span class="mdl-textfield__error">blah</span>
  </div>
  <div class="custom-chipautocomplete-results mdl-shadow--2dp">
    <ul class="mdl-list"></ul>
  </div>
  <div class="custom-chipautocomplete-selected"></div>
</div>

      
    </div>
    <!-- Built with love using Material Design Lite -->

    
    <script>
      
    </script>
  </body>
</html>
