<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>custom-dialog test</title>

        <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Page styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="../../material.min.css">
    <link rel="stylesheet" href="../../components/demos.css">
    <script src="../../material.min.js"></script>

    
    <style>
      
    </style>

  </head>
  <body>

    <div style="padding-top: 24px;">
      
        

<button id="bt1">
Click me!
</button>

<div class="custom-js-dialog custom-dialog" on-button-click="#bt1">
  <div class="custom-dialog-bg mdl-color--grey"></div>
  <div class="custom-dialog-container mdl-dialog mdl-color--white">
    <h4 class="mdl-dialog__title">Title of the dialog</h4>
    <div class="mdl-dialog__content">
      <p>Text of the dialog</p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button custom-dialog-confirm">OK</button>
      <button type="button" class="mdl-button custom-dialog-cancel">CANCEL</button>
    </div>
    <button type="button" class="mdl-button custom-dialog-close">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

      
    </div>
    <!-- Built with love using Material Design Lite -->

    
    <script>
      
    </script>
  </body>
</html>
